{% extends "layout.html" %}
{% block body %}


{% autoescape false %}

  <div id="contactscroll">

  <p id="employers">
  here's what employers are looking for right now <br> click on the links to start learning
  </p>
  
  <table border="0" align=center style="width:100%">
  {% for skill in skills %}
  
  {% if skills!= [] %}  

  {% set barwidth = skill[1]*150 %}
  {% set srurl = 'http://www.mysliderule.com/search?term='+skill[0] %}
  {% set wikiurl = 'http://en.wikipedia.org/wiki/'+skill[0] %}
  {% set khanurl = 'https://www.khanacademy.org/search?page_search_query='+skill[0] %}
  <div class=contwrap> 
      <tr>
        <td align=right width=40%> <span class=email> <a href="{{ srurl }}" target="_blank"><img src="{{ url_for('static', filename='sliderulelogo.jpg') }}" alt="HTML tutorial" width="22" height="22"></a> <a href="{{ wikiurl }}" target="_blank"><img src="{{ url_for('static', filename='wikilogo.png') }}" alt="HTML tutorial" width="22" height="22"></a> <a href="{{ khanurl }}" target="_blank"><img src="{{ url_for('static', filename='khanlogo.png') }}" alt="HTML tutorial" width="22" height="22"></a> {{ skill[0] }} </span> </td>
          <!-- <input type=password size=30 name=password class=credbox placeholder="password"> </td> -->
        <td align=left width=40%> <canvas id="myCanvas" width="{{ barwidth }}" height="8em" style="background:#19D119" fillStyle="#FFF"></canvas></td>
      </tr>
    

    <!-- <p id="contp">  -->
        <!-- <span class=email> {{ skill[0] }} </span> <span class=preview> <br> {{ skill[1] }} </span> -->
        <!-- <h1>{{ barwidth }}</h1> -->
        <!-- <canvas id="myCanvas" width="{{ barwidth }}" height="10" style="border:1px solid #000000;"></canvas> -->
        <!-- <div class="width:100px,height:10px;border:1px solid #000;"></div> -->
    <!-- </p>  -->
  </div>
  {% endif %}
  
  {% else %}

  <div id="nomessages"> nothing here </div>

  {% endfor %}
  </table>

{% endautoescape %}
  </div>

{% endblock %}